<div class="footer">
    <div class="bg-full-img">
        <div class="container">
            <div class="wrap">
                <p>記得<br>訂閱以獲取更多資訊！</p>
                <div class="email flex">
                    <input type="email" placeholder="Your email address">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-full ">
        <div class="container">
            <div class="wrap flex">
                <img src="" alt="">
                <p>© 2020. All Rights Reserved.</p>
            </div>
            <ul class="flex">
                <li><a href="#">Product</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>