<div class="header">
    <div class="container flex">
        <a href="#" class="logo">
            <h1>D'Perfume</h1>
        </a>
        <ul class="flex">
            <li><a href=""><span class="material-icons">store</span><span>Product</span></a></li>
            <li><a href=""><span class="material-icons">person</span><span>log in</span></a></li>
            <li><a href=""><span class="material-icons">favorite</span><span>Wishlist</span></a></li>
            <li><a href=""><span class="material-icons">shopping_cart</span><span>Cart(3)</span></a></li>
        </ul>
    </div>
</div>