<div class="header">
    <div class="container flex">
        <a href="#" class="logo">
            <h1>D'Perfume</h1>
        </a>
        <ul class="flex menu">
            <li class="rwd-hidden"><a href="#"><span class="material-icons">store</span><span class="rwd-hidden">Product</span></a></li>
            <li class="rwd-hidden"><a href="#"><span class="material-icons">person</span><span class="rwd-hidden">log in</span></a></li>
            <li class="rwd-hidden"><a href="#"><span class="material-icons">favorite</span><span class="rwd-hidden">Wishlist</span></a></li>
            <li clss="shopping-cart"><a href="#"><span class="material-icons">shopping_cart</span><span class="rwd-hidden">Cart(</span><span class="pop-number">3</span><spann class="rwd-hidden">)</span></a></li>
            <li class="rwd-show hamburger fold"><span class="material-icons">menu</span></li>
        </ul>
    </div>
</div>