.footer {
    .bg-full-img {
        background-image: url(../assets/image/index10.jpg);
        background-position: 0 48%;
        background-size: cover;
        .container {
            padding: 312px 0 112px 0;
        }
        .wrap {
            max-width: 350px;
            > p {
                font-size: 32px;
                color: $d-gray;
                margin-bottom: 20px;
            }
            .email {
                font-size: 16px;
                input {
                    border-radius: 4px 0 0 4px;
                    border: 2px solid $gold;
                    height: 60px;
                    padding: 0 16px;
                }
                input[type="email"]:focus {
                    outline: none;
                }
                button {
                    border-radius: 0 4px 4px 0;
                    border: 2px solid $gold;
                    height: 60px;
                    color: #fff;
                    width: 131px;
                    background-color: $gold;
                    cursor: pointer;

                    &:hover{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .bg-full {
        background-color: $gold;
        color: #fff;
        vertical-align: middle;
        .container {
            justify-content: space-between;
        }
        .wrap {
            margin: 20px 0 22px 0;
            align-items: center;
            img {
                width: 128px;
                margin-right: 20px;
            }
            p {
                font-size: 14px;
            }
        }
        ul {
            align-items: center;
            li {
                margin-left: 36px;
            }
            a {
                color: #fff;
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
        }
    }
}