// @use '../reset';
// @use './common';
// @use '../layout/header';
// @use '../layout/footer';

// * {
//     outline: 1px solid red;
// }

h3 {
    font-size: 32px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
}

.material-icons {
    vertical-align: middle;
}

a.more {
    font-size: 16px;
    color: $gold;
    text-decoration: none;
    margin-top: 16px;

    &:hover::before {
        content: '\25B6\25ba';
        margin-right: 3px;
        font-size: 14px;
    }
}

.banner {
    width: 100%;
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 295px 0;

    .wrap {
        width: 445px;
        margin-left: 665px;
        color: #fff;

        h2 {
            font-size: 40px;
            font-weight: 700;
        }

        button {
            @include btn($theme: #fff, $font-size: 28px);
            margin-top: 16px;
        }
        button:hover {
            border-color: $gold;
            color: $gold;
            background-color: rgba($color: #fff, $alpha: 0.5);
        }
    }
}

.content {
    .intro {
        margin: 60px auto;
    }

    .intro .text {
        width: 50%;
        justify-content: center;
        flex-direction: column;

        .wrap {
            margin: 0 20%;

            p {
                font-size: 20px;
            }

            a.more {
                font-size: 16px;
                color: $gold;
                text-decoration: none;
                margin-top: 16px;
            }
        }
    }

    .intro .img-wrap {
        width: 50%;

        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
    }

    .intro li:nth-child(even) {
        flex-direction: row-reverse;
    }

    .intro li:nth-child(4) {
        li {
            margin: 10% 20%;
        }

        .text {
            button {
                @include btn($theme: #000, $font-size: 20px);
            }
            button:hover {
                border-color: $gold;
                color: $gold;
                background-color: rgba($color: #fff, $alpha: 0.5);
            }
        }

        .img-wrap {
            img {
                width: 100%;
                aspect-ratio: 1 /1.96;
                // object-fit: scale-down;
            }
        }

        p {
            font-size: 16px;
            margin-top: 4px;
        }
    }
}

.content {
    .sale {
        background-color: $l-gray;
        margin-bottom: 60px;
        ul {
            justify-content: space-between;
        }
        li{
            width: 31.8%;
            margin: 40px 0;
        }
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 35 / 54;
            margin-bottom: 8px;
            transition: transform .2s;
            &:hover{
                transform: scale(.9);
            }
        }
        a.sold-out{
            position: relative;
            img{
                filter: brightness(70%);
            }
            &::after{
                content: 'Sold out';
                display: block;
                width: 160px;
                z-index: 10;
                color: #fff;
                position: absolute;
                font-size: 24px;
                top: calc(50% - 36px);
                left: calc(50% - 160px / 2);
                text-align: center;
            }
        }
        p , span{
            font-size: 16px;
        }
        p {
            margin-bottom: 16px;
        }
        span.on-sale::after {
            content: 'NT$1,580';
            color: $d-gray;
            margin-left: 8px;
            text-decoration: line-through;
        }
    }
}

.content {
    .recycle {
        justify-content: space-between;
        margin-bottom: 60px;
        img {
            max-width: 730px;
        }
        .text {
            max-width: 350px;
            height: auto;
            flex-direction: column;
            justify-content: center;
            .wrap {
                p {
                    font-size: 20px;
                    margin-bottom: 16px;
                }
                p:nth-of-type(2) {
                    font-size: 16px;
                    margin-bottom: 16px;
                }
                a.more {
                    font-size: 16px;
                    color: $gold;
                    text-decoration: none;
                }
            }
        }
    }
}